<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Pets · Phoenix Framework</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
</head>
<body>
  <header>
    <nav class="navbar is-warning" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="<%= Routes.page_path(@conn, :index) %>">
          <h3 class="title has-text-white">Pets Project</h3>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <%= if @conn.request_path == Routes.session_path(@conn, :new) do %>
                <a class="button is-primary" href="<%= Routes.user_path(@conn, :new) %>">
                  <strong>Registrate</strong>
                </a>
              <% else %>
                <%= if @conn.request_path == Routes.user_path(@conn, :new) do %>
                  <a class="button is-light" href="<%= Routes.session_path(@conn, :new) %>">
                    Log in
                  </a>
                <% else %>
                  <a class="button is-primary" href="<%= Routes.user_path(@conn, :new) %>">
                    <strong>Registrate</strong>
                  </a>
                  <a class="button is-light" href="<%= Routes.session_path(@conn, :new) %>">
                    Log in
                  </a>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>


  </header>
  <main role="main" class="container">
    <%= render @view_module, @view_template, assigns %>
  </main>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
