<div class="">
  <h1> <%= @user.first_name %> </h1>
  <p>
    <%= link "Delete", to: Routes.user_path(@conn, :delete, @user), method: :delete %>
  </p>
  <p>
    <a href="<%= Routes.user_pet_path(@conn, :new, @user.id) %>" class="button">Add Pet</a>
  </p>
  <%= for pet <- @user.pets do %>
    <%= button pet.pet_name, to: Routes.user_pet_path(@conn, :show, @user, pet), method: :get , disabled: pet.active == false %></a>
  <% end %>
</div>
